.whatsapp {
  background-color: #25d366;
}

.whatsapp:hover {
  color: #25d366;
}

.whatsapp-logo {
  font-size: 25px;
  text-align: center;
  float: right;
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: #25d366;
  padding: 10px;
  border-radius: 25px;
  color: white;
}

.whatsapp-logo a {
  color: white;
}

.shopee {
  background-color: #ee4d2d;
}

.shopee:hover {
  color: #ee4d2d;
}

.social-img {
  width: 30px;
}

.social {
  line-height: 30px;
  padding-left: 35px;
}

.about {
  text-align: center;
  padding: 2.5rem;
}

.logou {
  line-height: 30px;
  text-align: center;
  float: right;
  position: fixed;
  bottom: 10px;
  right: 5px;
  padding: 10px 12.5px;
  border-radius: 25px;
  color: white;
}

.logout a {
  color: white;
}

.product-card {
  display: none;
}

.product-card::after {
  content: "";
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.product-unggulan::after {
  content: "";
  background-image: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80%;
}

.show {
  display: block;
}


li>ul                 { transform: translatex(100%) scale(0) }
li:hover>ul           { transform: translatex(101%) scale(1) }
li > button svg       { transform: rotate(-90deg) }
li:hover > button svg { transform: rotate(-270deg) }
.group:hover .group-hover\:scale-100 { transform: scale(1) }
.group:hover .group-hover\:-rotate-180 { transform: rotate(180deg) }
.scale-0 { transform: scale(0) }
.min-w-32 { min-width: 8rem }

.hero {
  width: 100%;
  background-color: #ddafe9;
}

.product-page-container {
  height: 700px;
}

.bg-ungu-navbar {
  background-color: #AA00D4;
}

.bg-ungu {
  background-color: #AA00D4;
  color: white;
}

.bg-ungu:hover {
  background-color: white;
  color: #AA00D4;
}

.bg-ungu-gradient {
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.bg-kuning-gradient {
  background-color: #f7b6ee;
  background-image: linear-gradient(45deg, #f7b6ee 0%, #ffe986 100%);
}

.hover-text-ungu:hover {
  color: #AA00D4;
}

.mySlides {display: none}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}